* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;

}

body {
    background-color: #F7F7F0;
}

header {
    height: 169px;
    background-color: #F3D7B7;
}

.header-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}



.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-ul li a {
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: black;
    text-decoration: none;
    list-style: none;

}

li {
    text-decoration: none;
    list-style: none;
}

.first-sct {
    background-color: #F3D7B7;

}

.section-one-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.left-side h1 {
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    width: 421px;
    margin-bottom: 76px;
}

.left-side p {
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
    width: 440px;
    color: black;
    margin-bottom: 65px;
}

.h1-left {
    color: black;
}

.kofe {
    transform: translate(-10px, -50px);
    position: relative;

}

.korova {
    z-index: 5;
    position: absolute;
    top: 110px;
    left: 700px;

}

.pocket-container {
    width: 1117px;
    margin: 0 auto;
}

.pocket-h2 {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 58.59px;
    text-align: center;
    padding-top: 108px;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.pocket-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 56px;
}

.pocket-flex div {
    width: 430px;
}

.pocket-flex div h4 {
    text-transform: uppercase; 
    font-size: 22px;
    font-weight: bold; 
    letter-spacing: 1.5px;
    margin-top: 160px;
}

.pocket-flex div p {
    font-size: 14px; 
    line-height: 1.6; 
    color: #333;
    margin-bottom: 280px;
    padding-top: 64px;
}
.Our-commitment {
    margin-right: 54px;
   
    max-width: 600px; 
    font-family: sans-serif;
}
.Rectangle {
    transform: translate(0px, -289px);
}
.first-st {
    background-color: #C99B67;

}
.lefft-side h2 {
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 56px;
    width: 421px;
    margin-bottom: 76px;
    color: white;
}

.lefft-side p {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 32px;
    width: 440px;
    color: white;
    margin-bottom: 65px;
}
footer {
    height: 169px;
     background-color: #F3D7B7;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}



.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-ul li a {
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    color: black;
    text-decoration: none;
    list-style: none;
   
}

li {
    text-decoration: none;
    list-style: none;
}

